<p class="uk-form-label uk-text-center uk-text-meta">Minimum Score</p>
<ul class="uk-subnav uk-subnav-pill uk-flex-center" uk-margin>
  <% App::MIN_SCORES.each do |score| %>
    <li<%= ' class="uk-active"' if @min_score == score %>>
      <a href="?min_score=<%= score %>"><%= score %></a>
    </li>
  <% end %>
</ul>

<% if @stories.present? %>
  <table class="uk-table hn-table-xsmall">
    <thead>
      <tr>
        <th class="uk-table-shrink hn-text-xsmall"><span class="uk-visible@s">Comments</span></th>
        <th class="uk-table-shrink hn-text-xsmall"><span class="uk-visible@s">Points</span></th>
        <th class="uk-table-expand"></th>
      </tr>
    </thead>
    <tbody>
      <% @stories.each do |story| %>
        <tr id="<%= story.data['id'] %>" date="<%= story.data['time'] %>">
          <td class="uk-text-center" colspan=2>
            <div class="" uk-grid>
              <a href="<%= "/stories/#{story.id}" || story.comments_url %>" class="uk-visible@s uk-text-right uk-display-inline-block uk-width-1-2">
                <%= story.data['descendants'] %>
              </a>
              <a href="<%= "/stories/#{story.id}" || story.comments_url %>" class="uk-text-right uk-display-inline-block uk-width-1-2 uk-margin-right-small <%= 'uk-text-primary' if story.data['score'] > @next_min_score %>">
                <%= story.data['score'] %>
              </a>
            </div>
          </td>
          <td class="story">
            <% if story.data['url'] %>
              <a href="<%= story.data['url'] %>" class="uk-display-block">
                <%= story.data['title'] %>
                <span class="uk-text-meta">(<%= URI.parse(story.data['url'].delete('#').encode(Encoding.find('ASCII'), { replace: '' })).host %>)</span>
              </a>
            <% else %>
              <a href="https://news.ycombinator.com/item?id=<%= story.data['id'] %>"><%= story.data['title'] %></a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="uk-placeholder uk-text-center">No results.</p>
<% end %>

<template id="daterow">
  <tr><td class="uk-heading-divider" style="padding: 10px 0 5px 5px" colspan=3></td></tr>
</template>

<!-- Insert date table rows (e.g. Fri, Feb 28) -->
<script>
  var daterowTemplate = document.querySelector('#daterow')

  Array.from(document.querySelectorAll('tr[date]')).forEach(function (el) {
    var date = new Date(el.getAttribute('date') * 1000)
    var prettyDate = date.toLocaleDateString(undefined, {
      weekday: 'short', month: 'short', day: 'numeric'
    })
    var daterow = daterowTemplate.content.cloneNode(true)
    daterow.querySelector('td').textContent = prettyDate
    var alreadyInserted = Array.from(el.parentNode.children).some(e => daterow.textContent.includes(e.textContent))
    var isToday = (new Date()).toDateString() === date.toDateString()
    if (!alreadyInserted && !isToday) el.parentNode.insertBefore(daterow, el)
  })
</script>

<!-- Keyboard Navigation -->
<script>
  function relativelyFocusLink(offset) {
    if (document.activeElement.classList.contains('comments')) {
      var commentLinks = Array.from(document.querySelectorAll("a.comments"))
      var currentCommentLink = commentLinks.indexOf(document.activeElement)
      commentLinks[currentCommentLink + offset].focus()
    } else {
      var storyLinks = Array.from(document.querySelectorAll(".story a"))
      var currentStoryLink = storyLinks.indexOf(document.activeElement)
      storyLinks[currentStoryLink + offset].focus()
    }
  }

  document.addEventListener('keydown', function (e) {
    if (!['j', 'k'].includes(e.key)) return
    if (e.key === 'j') relativelyFocusLink(1)
    if (e.key === 'k') relativelyFocusLink(-1)
  })
</script>
