<article class="uk-article">
  <h3>
    <% if @story.data['url'] %>
      <a href="<%= @story.data['url'] %>" class="uk-display-block">
        <%= @story.data['title'] %>
        <span class="uk-text-meta">(<%= @story.truncated_url %>)</span>
      </a>
    <% else %>
      <a href="https://news.ycombinator.com/item?id=<%= @story.data['id'] %>"><%= @story.data['title'] %></a>
    <% end %>
  </h3>
  <p class="uk-article-meta">
    <%= @story.data['score'] %> points | 
    by <%= @story.data['by'] %> | 
    <a href="<%= @story.comments_url %>"><%= @story.data['descendants'] %> Comments</a>
  </p>
  <p>
    <%= @story.data['text'] %>
  </p>
</article>

<%= erb :_comments, layout: false, locals: { comments: @story.comments } %>

<% if @story.comments.blank? %>
  <p class="uk-placeholder uk-text-center">No comments.</p>
<% end %>

<!-- Set time ago on commets -->
<script>
  function timeSince(date) {
    var seconds = Math.floor(((new Date().getTime()/1000) - date)), interval = Math.floor(seconds / 31536000)

    if (interval > 1) return interval + " years"

    interval = Math.floor(seconds / 2592000)
    if (interval > 1) return interval + " months"

    interval = Math.floor(seconds / 86400)
    if (interval >= 1) return interval + " days"

    interval = Math.floor(seconds / 3600)
    if (interval >= 1) return interval + " hours"

    interval = Math.floor(seconds / 60)
    if (interval > 1) return interval + " minutes"

    return Math.floor(seconds) + " seconds"
  }

  function setTimeAgos() {
    Array.from(document.querySelectorAll('time.ago')).forEach((time) => {
      time.textContent = timeSince(time.dateTime) + ' ago'
    })
  }

  setTimeAgos()
  setInterval(setTimeAgos, 10000)
</script>

<!-- Prevent click comment link from collapsing comment -->
<script>
  Array.from(document.querySelectorAll('.uk-accordion-title a')).forEach((el) => {
    el.onmouseover = function() { el.parentNode.classList.add('a-hover') }
    el.onmouseout = function() { el.parentNode.classList.remove('a-hover') }
  })
</script>

<!-- Keyboard Navigation -->
<script>
  function relativelyFocusLink(offset) {
    var commentLinks = Array.from(document.querySelectorAll("h1 > a, h3 > a, .uk-article-meta > a, .uk-container > .uk-comment-list > li > div > a.comment"))
    var currentCommentLink = commentLinks.indexOf(document.activeElement)
    commentLinks[currentCommentLink + offset].focus()
  }

  function focusPreviousLink() {
      var links = Array.from(document.querySelectorAll("a"))
      var currentLink = links.indexOf(document.activeElement)
      links[currentLink - 1].focus()
  }

  function focusNextLink() {
      var links = Array.from(document.querySelectorAll("a"))
      var currentLink = links.indexOf(document.activeElement)
      links[currentLink + 1].focus()
  }

  document.addEventListener('keydown', function (e) {
    if (!['h', 'j', 'k', 'l'].includes(e.key)) return
    if (e.key === 'h') focusPreviousLink()
    if (e.key === 'j') relativelyFocusLink(1)
    if (e.key === 'k') relativelyFocusLink(-1)
    if (e.key === 'l') focusNextLink()
  })
</script>
